/* base de todo */
.container_bloque_informacion{
    width: 100%;
    border-radius: var(--border-radius-principal);
    background-color: var(--color-primario);
    padding: var(--padding-containers-principales);
    margin: 10px;
    padding: 20px;
}
.container_bloque_informacion_titulo{
    padding-bottom: 10px;
}
/* agregar nuevos */
.container_add_new_products{
    display: flex;
    flex-wrap: wrap;
}
.container_inputs_new_products{
    width: 50%;
    min-width: 200px;
}
.input_add_product{
    padding: 5px 0;
}
.input_object_add_product{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-principal);
    font-family: 'Open Sans', sans-serif;
}
/* css de los botones de confirmar producto*/
.boton_add_product{
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-principal);
    cursor: pointer;
    transition: 0.3s ease;
    margin: 5px 0;
    background-color: var(--color-tercero);
    color: white;
    font-weight: 700;
}
.boton_add_product:hover{
    transform: scale(1.05,1.05);
}
/* css de las tablas */
.container_table_information{
    width: 100%;
    max-height: 360px;
    overflow-x: auto;
}
.container_table_information::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.container_table_information::-webkit-scrollbar-thumb{
    background-color: var(--color-tercero);
}
.container_table_information table{
    font-size: 14px;
}
.container_table_information th,td{
    text-align: left;
    padding: 10px 15px;
    border-radius: var(--border-radius-principal);
}
.container_table_information tr:nth-child(even){
    background-color: #f2f2f2
}
.container_table_information th{
    background-color: var(--color-tercero);
    color: white;
}
.container__table_imagen_producto{
    width: 50px;
}
.container__table_imagen_producto img{
    width: 100%;
}
.container_table__botones{
    text-align: center;
}
.container_table__botones button{
    padding: 5px;
    cursor: pointer;
    color: var(--color-tercero);
    background-color: var(--color-primario);
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.315);
    transition: 0.3s ease;
    border-radius: var(--border-radius-principal);
}
.container_table__botones button:hover{
    color: red;
}
.dato_editable__table{
    padding: 5px;
}
#mensaje_confirmacion_add{
    font-size: 14px;
    font-weight: 700;
}